<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <!--<add key="CONNECTIONSTRING" value="Server=.\ABC;Database=QL_TIEUCHUAN2;User ID=sa;Password=muopbau;Trusted_Connection=False; Connect Timeout=20000" />-->
    <add key="CONNECTIONSTRING" value="Data Source=DESKTOP-KHRFELG\SQLEXPRESS;Initial Catalog=QLNhanSu;Integrated Security=True; Connect Timeout=20000" />

  </appSettings>
    <connectionStrings>
        <add name="DemoHTPTNS.Properties.Settings.QLNhanSuConnectionString"
            connectionString="Data Source=DESKTOP-KHRFELG\SQLEXPRESS;Initial Catalog=QLNhanSu;Integrated Security=True; Connect Timeout=20000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>